.accordion {
  &_footer {
    border-bottom: 1px solid #3A3E74;
    margin-bottom: 32px;
    @media (min-width: $xl) {
      border: none;
      padding-top: 0;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.open {
      .accordion_footer {
        &_content {
          display: block;
        }
        &_caption {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    &_caption {
      position: relative;
      padding-right: 32px;
      font-size: 0.875rem;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #B2B6C2;
      cursor: pointer;
      padding-bottom: 16px;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url(../../assets/images/icons/arrows/Down.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
      @media (min-width: $xl) {
        cursor: auto;
        padding-bottom: 24px;
        padding-right: 0;
        &:after {
          content: none;
        }
      }
    }
    &_content {
      display: none;
      @media (min-width: $xl) {
        display: block;
      }
    }
    &_link {
      color: white;
      font-size: 0.875rem;
      line-height: 20px;
      letter-spacing: 0.02em;
      display: block;
      margin-bottom: 16px;
      &:hover {
        color: white;
      }
      //&:last-child {
      //  margin-bottom: 0;
      //}
    }
  }
}
