.footer {
  margin-top: auto;
  color: white;
  position: relative;
  &_bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    right: 0;
    img {
      object-fit: cover;
      height: auto !important;
    }
    @media (max-width: $md) {
      width: 100%;
      min-width: 1100px;
      right: auto;
      img {
        height: auto !important;
      }
    }
  }
  &_tag {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: $base-dark;
    text-align: center;
  }
  &_social {
    background-color: $primary-purple;
    padding: 80px 0px;
    position: relative;
    &_caption {
      font-size: 20px;
      text-transform: uppercase;
    }
    &_list {
      margin-top: 50px;
      &_link {
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 2;
        margin-left: 12px;
        margin-right: 12px;
        img {
          width: 100%;
          height: 100%;
          transition: .3s;
          &:nth-child(2) {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &:hover {
          img {
            opacity: 0;
            &:nth-child(2) {
              opacity: 1;
            }
          }
        }
        @media (min-width: $lg) {
          margin-left: 40px;
          margin-right: 40px;
        }
      }
    }
  }
  &_insta{
    height: 210px;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &_item {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../../assets/images/footer/instHover.svg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: .4s;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &_pages {
    padding-top: 40px;
    padding-bottom: 40px;
    &_logo {
      width: 64px;
      height: 64px;
    }
    &_list {
      a {
        margin-left: 40px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Helvetica';
      }
    }
  }
  &_logo {
    width: 144px;
    height: 144px;
    position: absolute;
    left: 50%;
    top: -80px;
    z-index: 1;
    transform: translateX(-72px);
  }
  &_partners {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: $md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &_item {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      img {
        max-width: 100%;
      }
      @media (max-width: $md) {
        width: 50%;
      }
    }
  }
  &_terms {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-family: 'Helvetica';
    @media (min-width: $md) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.4) 50.04%, rgba(255, 255, 255, 0.08) 100%);
      }
    }
    &_text {
      @media (max-width: $md) {
        margin-bottom: 20px;
      }
    }
    &_list {
      & > a {
        color: white;
        margin-right: 24px;
        font-size: 14px;
      }
    }
  }
  .langs {
    margin-left: 16px;
  }
}

