.langDropdown {
  width: 100%;
  position: relative;
  @media (min-width: $lg) {
    width: 230px;
  }
  &_button {
    border: none;
    background: #141F43;
    color: white;
    padding: 20px 16px;
    position: relative;
    width: 100%;
    line-height: 16px;
    font-size: 14px;
    text-align: left;
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      right: 16px;
      width: 16px;
      height: 16px;
      background-image: url(../../assets/images/icons/arrows/Down.svg);
      background-repeat: no-repeat;
    }
    &.open {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &_icon{
    margin-right: 8px;
    height: 16px;
    vertical-align: middle;
  }
  &_content {
    position: absolute;
    z-index: 10;
    top: 62px;
    left: 0;
    right: 0;
    background-color: #141F43;
    padding: 8px;
  }
  &_link {
    line-height: 16px;
    display: block;
    padding: 20px 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}
