@import "../variables";
.section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  @media (min-width: $lg) {
    padding-top: 140px;
    padding-bottom: 110px;
  }
  &.vertical {
    padding-top: 0;
  }
}

.card {
  position: relative;
  padding-bottom: 16px;
  transition: .4s;
  color: white;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(rgba(255, 240, 164, 1) ,rgba(223, 187, 95, 1) ,rgba(237, 181, 36, 1) ,rgba(210, 158, 24, 1));
    opacity: 0;
    transition: .4s;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
    .image {
      background: linear-gradient(179.91deg, #FFF0A4 0.08%, #DFBB5F 43.39%, #EDB524 71.36%, #D29E18 105.35%);
      box-shadow: 0 0 100px rgba(255, 233, 118, 0.24);
      img {
        transform: scale(1.05);
      }
    }
    .caption {
      background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #DFBB5F 52.7%, #D29E18 92.62%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .link {
      opacity: 1;
    }
  }
  &.verticalCard {
    padding-bottom: 0;
    margin-bottom: 50px;
    &:after {
      left: auto;
      top: 0;
      height: 100%;
      width: 2px;
      @media (max-width: $md) {
        content: none;
      }
    }
    &:hover {
      @media (min-width: $md) {
        background-color: $purple-800;
      }
    }
    .image {
      height: 324px;
      width: 324px;
      margin-right: 40px;
    }
    .badge {
      position: relative;
      top: 0;
      left: 0;
    }
    .caption {
      margin-top: 16px;
      height: auto;
    }
    .info {
      margin-right: 40px;
    }
    .link {
      opacity: 1;
    }
    @media (max-width: $md) {
      text-align: center;
      .image {
        margin-right: 0;
        margin-bottom: 16px;
        width: 100%;
        height: 340px;
        max-width: 500px;
      }
    }
  }
}

.text {
  line-height: 1.5;
  max-width: 600px;
  margin-top: 16px;
  height: 72px;
  overflow: hidden;
  @media (max-width: $md) {
    height: 48px;
  }
}

.image {
  height: 350px;
  position: relative;
  background-color: $primary-purple;
  transition: .4s;
  overflow: hidden;
  img {
    object-fit: cover;
    transition: .4s;
  }
  @media (min-width: $xxl) {
    height: 420px;
  }
}

.slider {
  margin-bottom: 50px;
}

.item {
  @media (max-width: $lg) {
    margin-bottom: 24px;
  }
}

.itemMob {
  min-width: 315px;
}

.list {
  margin-top: 50px;
}

.badge {
  position: absolute;
  top: 336px;
  left: 16px;
  z-index: 1;
  @media (min-width: $xxl) {
    top: 406px;
  }
}

.caption {
  color: $primary-purple;
  margin-top: 24px;
  line-height: 1;
  height: 64px;
  overflow: hidden;
  transition: .4s;
  @media (min-width: $xxl) {
    height: 80px;
  }
}

.info {
  margin-top: 16px;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  font-size: 0;
}

.country {
  margin-left: 16px;
  margin-right: 8px;
}

.matches {
  margin-top: 40px;
  &.first {
    margin-bottom: 80px;
  }
  @media (min-width: $lg) {
    margin-top: 50px;
  }
}

.matchesLineHead {
  background-color: $purple-400;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  @media (min-width: $lg) {
    font-size: 16px;
  }
}

.matchesLineHeadPoint {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  &:first-child {
    text-align: right;
  }
}

.matchesLineHeadPoint {
  width: 100%;
  &:first-child {
    text-align: right;
  }
}
.matchesLineBody {
  margin-bottom: 24px;
  background-color: $purple-600;
  &:first-child {
    text-align: right;
  }
}

.matchesImg {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.teamImg {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  img {
    filter: drop-shadow(0px 113px 32px rgba(22, 0, 51, 0.01)) drop-shadow(0px 73px 29px rgba(22, 0, 51, 0.07)) drop-shadow(0px 41px 25px rgba(22, 0, 51, 0.25)) drop-shadow(0px 18px 18px rgba(22, 0, 51, 0.43)) drop-shadow(0px 5px 10px rgba(22, 0, 51, 0.49)) drop-shadow(0px 0px 0px rgba(22, 0, 51, 0.5));
  }
  @media (min-width: $lg) {
    width: 64px;
    height: 64px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
.teamName {
  font-size: 16px;
  letter-spacing: 0.1em;
  @media (min-width: $lg) {
    font-size: 32px;
  }
  @media (min-width: $xxl) {
    font-size: 50px;
  }
}

.score {
  background-color: #fff;
  height: 56px;
  width: 70px;
  text-align: center;
  font-size: 16px;
  line-height: 56px;
  color: $base-dark;
  word-spacing: 10px;
  @media (min-width: $lg) {
    height: 80px;
    width: 160px;
    font-size: 50px;
    line-height: 80px;
    word-spacing: 15px;
  }
}

.seeAll {
  @media (max-width: $lg) {
    margin-top: 10px;
  }
}

.link {
  display: block;
  margin-top: 16px;
  color: $primary-purple;
  font-weight: bold;
  text-transform: uppercase;
  @media (min-width: $lg) {
    opacity: 0;
  }
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  right: 0;
  @media (max-width: $md) {
    width: 100%;
    min-width: 1100px;
    right: auto;
    img {
      height: auto !important;
    }
  }
}
