@import "../variables";
.section {
  position: relative;
  width: 100%;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 800px;
  overflow: hidden;
  form {
    width: 100%;
    max-width: 648px;
    margin-left: auto;
  }
  &.contact {
    padding-top: 130px;
    padding-bottom: 200px;
  }
  @media (min-width: $lg) {
    padding-top: 140px;
    padding-bottom: 180px;
    &.contact {
      padding-top: 270px;
    }
  }
}
.partnerBG {
  position: absolute;
  top: 200px;
  bottom: 130px;
  left: -100px;
  right: -200px;
  transform: matrix(1, -0.08, 0.09, 1, 0, 0);
  overflow: hidden;
  z-index: 2;
}
.partnerBGItem {
  width: 204px;
  height: 93px;
  border: 1px solid $primary-purple;
  position: relative;
  margin: 5px;
  transition: .5s;
  opacity: .2;
  &:nth-child(5n) {
    order: -1;
  }
  img {
    transition: .5s;
  }
  &:hover {
    border-color: $secondary-pink;
    box-shadow: 0 4px 8px rgba(255, 0, 122, 0.6), 0 4px 10px rgba(255, 0, 122, 0.4), 0 0 10px rgba(255, 0, 122, 0.8), inset 0 0 10px rgba(255, 0, 122, 0.5), inset 0 0 10px #FF007A;
    opacity: 1;
    .partnerBGItemHover {
      opacity: 1;
      img {
        opacity: 1;
      }
    }
    img {
      opacity: 0;
    }
  }
}
.partnerBGItemHover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: .3s;
}
.content {
  margin-top: 90px;
  &.contact {
    margin-top: 20px;
  }
}

.description {
  position: relative;
  &.contact {
    text-align: center;
    margin-bottom: 50px;
  }
  h2 {
    font-weight: 700;
    line-height: 1;
    color: $primary-purple;
    margin-bottom: 40px;
    position: relative;
    //z-index: 4;
  }
  p {
    margin-bottom: 0;
    font-family: 'Helvetica';
  }
}
.formItem {
  position: relative;
  z-index: 4;
  margin-bottom: 32px;
  label {
    margin-bottom: 8px;
    font-family: 'Helvetica';
  }
  &.select {
    z-index: 5;
  }
}
.formButton, .successButton {
  position: relative;
  z-index: 4;
  button {
    width: 100%;
    background: none;
  }
}
.light {
  position: absolute;
  top: -60px;
  right:-90px;
}
.container {
  z-index: unset;
  &.contact {
    max-width: 690px;
  }
}
.bg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 0;
  z-index: 3;
  height: 178px;
  opacity: .45;
  img {
    object-fit: cover;
    object-position: bottom;
  }
  &.contact {
    height: 100%;
    opacity: 1;
    z-index: 0;
  }
}
.success {
  position: relative;
  z-index: 4;
  @media (max-width: $lg) {
    margin-top: 30px;
  }
  p {
    margin-top: 14px;
    margin-bottom: 0;
    font-family: 'Helvetica';
  }
}
.successIcon {
  margin-bottom: 30px;
}
.successButton {
  margin-top: 40px;
  min-width: 232px;
}
