@import "../variables";

.section {
  position: relative;
  width: 100%;
  color: white;
  //padding-top: 70px;
  padding-bottom: 0;
  letter-spacing: 0.02em;
  @media (min-width: $lg) {
    //padding-top: 140px;
    //padding-bottom: 140px;
  }

  h5 {
    font-weight: 700;
    background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #DFBB5F 52.7%, #D29E18 92.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 8px;
  }
}

.photo {
  width: 100%;
  max-width: 440px;
  position: relative;

  img {
    max-width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.photoBG {
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  z-index: 0;
}

.role {
  background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #DFBB5F 52.7%, #D29E18 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 16px;
  font-family: 'Helvetica';
}

.liveIcon {
  margin-right: 8px;
}
.liveLink {
  margin-left: 40px;
  margin-top: 20px;
  a {
    font-family: 'Helvetica';
    width: 186px !important;
    font-weight: normal !important;
    line-height: 36px !important;
    text-transform: initial !important;
    span {
      font-size: 12px;
      margin-left: 8px;
      padding-top: 2px;
    }
  }
  @media (min-width: $xxl) {
    margin-top: 30px;
    a {
      line-height: 46px !important;
    }
  }
}

.liveLinkOffline {
  a {
    width: 206px !important;
  }
  img {
    opacity: .5;
  }
  &:hover {
    &:before, &:after {
      background:  $base-dark;
    }
    a {
      color: white;
      &:before {
        background: $base-dark;
      }
      &:after {
        border-top-color: $base-dark;
      }
    }
  }
}
.liveIconOp {
  opacity: .5;
  letter-spacing: 0.02em;
}

.text {
  width: 100%;
  max-width: 602px;
  margin-left: auto;
  margin-right: auto;
}

.info {
  margin-top: 16px;
  font-family: 'Helvetica';
}

.countryName {
  margin-left: 8px;
  margin-right: 24px;
}

.bio {
  margin-top: 32px;
  margin-bottom: 32px;
  p {
    font-family: 'Helvetica';
  }
}

.ingame {

  margin-bottom: 8px;
}

.ingameLabel {
  opacity: .6;
  width: 50%;
}

.social {
  margin-bottom: 16px;
}

.socialList {
  margin-bottom: 16px;
  margin-left: -20px;
  margin-right: -20px;
}

.stats {
  background-color: #1E043F;
  border: 1px solid $primary-purple;
  padding: 24px;
  margin-top: 48px;
  @media (min-width: $lg) {
    background: url(../../assets/images/player/Net.svg) center, #1E043F;
  }
}

.statsDerived {


  width: 48px;
  height: 80px;
  margin-left: 24px;
  margin-right: 24px;
  @media (min-width: $lg) {
    background: url(../../assets/images/player/Divider.png) center no-repeat;
    background-size: cover;
  }
}

.statsItem {
  width: 50%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  @media (min-width: $lg) {
    width: 100%;
    margin-bottom: 0;
  }
}

.statsItemHead {
  background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #DFBB5F 52.7%, #D29E18 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 4px;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  right: 0;
  @media (min-width: $md) {
    width: 100%;
    min-width: 1100px;
    right: auto;
    img {
      height: auto !important;
    }
  }
}

.playerbg {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  right: 0;
  width: 50%;
  text-align: right;

  img {
    height: 100%;
    width: 100%;
    object-position: bottom right;
    object-fit: cover;
  }
}
