@import "../variables";

.section {
  position: relative;
  width: 100%;
  color: white;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(16, 0, 36, 0) 0%, #100024 100%);
    z-index: 5;
    height: 160px;
  }
}

.caption {
  text-align: left;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  max-width: 420px;
  @media (min-width: $md) {
    max-width: 100%;
  }
  @media (min-width: $xl) {
    text-align: center;
    margin-bottom: 0;
  }
}
.h6 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 1050px;
  font-family: 'Helvetica';
  position: relative;
  z-index: 1;
}

.content {
  width: 100%;
  max-width: 1170px;
  padding: 300px 0 160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  @media (max-width: $xl) {
    padding-top: 170px;
    padding-bottom: 120px;
    .h6 {
      line-height: 1.4;
    }
  }
  @media (max-width: $md) {
    padding-top: 120px;
  }
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  z-index: 2;
  img {
    object-fit: cover;
  }
}

.smoke {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;


  img {
    object-fit: cover;
  }
}
.smoke2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  img {
    object-fit: cover;
  }
  @media (min-width: $xl) {
    opacity: 0.1;
  }
}

.logo {
  height: 250px;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  text-align: center;
  img {
    width: 400px;
    height: 366px;
  }
  @media (min-width: $xl) {
    height: 400px;
    opacity: 0.6;
    top: 20px;
    img {
      width: 800px;
      height: 744px;
    }
  }
}
.video {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
