@import "~bootstrap/scss/functions";

@import 'typography';
@import "variables";
@import "animations";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/bootstrap-grid";


html, body {
  overflow-x: hidden;
  background-color: $base-dark;
}

button {
  border: none;
  padding: 0;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pos-r {
  position: relative;
}

.z-1 {
  z-index: 1;
  position: relative;
}


.text-center {
  text-align: center;
}

.bg_image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  img {
    object-fit: cover;
  }
}

.fullWidth {
  width: 100%;
}

.multicolor-title {
  font-weight: bold;
  color: $primary-purple;
  text-transform: uppercase;
  strong {
    background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #dfbb5f 52.7%, #D29E18 92.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
  }
  p {
    margin: 0;
    line-height: 1.1;
  }
  &.dark {
    color: $base-dark;
  }
}

p {
  line-height: 1.4;
  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  position: relative;
  padding-bottom: 2px;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 16px;
    right: 0;
    width: 16px;
    background: $primary-purple;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 8px;
    right: 16px;
    background: $primary-purple;
  }
  a, button {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    display: block;
    width: 145px;
    text-align: center;
    position: relative;
    background: none;
    border: none;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 16px;
      background: $primary-purple;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      right: -4px;
      width: 22px;
      z-index: -1;
      border-top: 20px solid $primary-purple;
      border-left: 0 solid;
      border-right: 16px solid transparent;
      height: 0;
    }
  }
  &.dark {
    &:before, &:after {
      background-color: $base-dark;
    }
    a, button {
      &:before, {
        background-color: $base-dark;
      }
      &:after {
        border-top-color: $base-dark;
      }
    }
  }
  &:hover {
    &:before, &:after {
      background:  #EDB524;
    }
    a, button {
      color: $base-dark;
      &:before {
        background: #EDB524;
      }
      &:after {
        border-top-color: #EDB524;
      }
    }
  }
  &:active {
    &:before, &:after {
      background:  $gold-300;
    }
    a {
      color: $base-dark;
      &:before {
        background: $gold-300;
      }
      &:after {
        border-top-color: $gold-300;
      }
    }
  }
}

.section {
  &-head {
    padding-top: 170px;
    padding-bottom: 70px;
    position: relative;
    @media (min-width: $lg) {
      padding-top: 210px;
      padding-bottom: 140px;
    }
    &.fullHeight {
      min-height: 500px;
      height: 100vh;
      @media (max-width: $lg) {
        height: 700px;
      }
      @media (max-width: $md) {
        height: 500px;
      }
    }
  }
}

.slideButton {
  border: 1px solid #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
  width: 64px;
  height: 64px;
  background: url(../assets/images/icons/arrows/arrow-left.svg) no-repeat center;

  &:nth-child(2) {
    transform: rotate(180deg);
  }
}

.badge {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $secondary-pink;
  color: white;
}

.langs {
  a {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    color: white;
  }
  img {
    height: 16px;
    width: auto;
    margin-left: 8px;
  }
}

.page-links {
  a {
    color: white;
    position: relative;
    display: inline-block;
    transition: .4s;
    &:after {
      content: '';
      height: 1px;
      background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #DFBB5F 52.7%, #D29E18 92.62%);
      box-shadow: 0 0 8px rgba(162, 255, 17, 0.6);
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transition: .3s;
    }
    &:hover {
      background: linear-gradient(109.91deg, #EDB524 6.68%, #FFF0A4 30.46%, #DFBB5F 52.7%, #D29E18 92.62%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      &:after {
        opacity: 1;
      }
    }
  }

}

a {
  &.prime {
    &:hover {
      background: linear-gradient(179.91deg, #FFF0A4 0.08%, #DFBB5F 43.39%, #EDB524 71.36%, #D29E18 105.35%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.container {
  z-index: 1;
  position: relative;
}

.image-content {
  text-align: center;
  img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.fz-160{
  font-size: 160px;
  @media (max-width: $xl) {
    font-size: 120px;
  }
  @media (max-width: $lg) {
    font-size: 88px;
  }
  @media (max-width: $sm) {
    font-size: 64px;
  }
}

.fz-24 {
  font-size: 24px;
}

.fz-14 {
  font-size: 14px;
}

.f-w-b {
  font-weight: bold;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: 0;
}

@media (min-width: $xxl) {
  h1, .h1 {
    font-size: 128px;
  }
  h2, .h2 {
    font-size: 60px;
  }
  h3, .h3 {
    font-size: 50px;
  }
  h4, .h4 {
    font-size: 40px;
  }
  h5, .h5 {
    font-size: 32px;
  }
  h6, .h6 {
    font-size: 24px;
  }
}

@media (max-width: $lg) {
  h6, .h6 {
    font-size: 1rem;
  }
}


