$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

$link-decoration: none;
$link-hover-color: #DB9F09;

$base-dark: #100024;
$primary-purple: #9A4DFF;
$secondary-pink: #FF007A;
$purple-800: #1F093C;
$purple-600: #4F1E95;
$purple-400: #6124B2;
$gold-300: #DB9F09;

$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 960px,
        xl: 1160px,
        xxl: 1480px
);

$grid-breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

$grid-gutter-width: 24px;

$display-font-sizes: (
        1: 4rem,
        2: 3rem,
        3: 2.5rem,
        4: 2rem,
        5: 1.5rem,
        6: 1.25rem
);

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;


$display-font-weight: 400;
$font-family-base: 'Bebas Neue';
